<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSI4480 Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      </head>

    <body class="text-center">
        <%- include(`${partials}/header`); %>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </symbol>
            <symbol id="x-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
              <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
            </symbol>
          </svg>
    
            <div class="bd-example-snippet bd-code-snipped">
            <div class="bd-example">
                <div class="alert alert-success alert-dismissable fade show" role="alert" id="alert" style="display:none;text-align: center;background-color: #FF6969; color: white;"></div>
            </div>
            </div>

          <div class="container" style="margin-top: 50px;">
            <h1>Retrieve Data From User</h1>
            <br>
            <form method="post" autocomplete="off" action="/request" id="retrieve">
                <div class="formGroup py-2">
                    <label for="username" class="align-items-center" style="display:inline-flex;">Username:
                        <input placeholder="Username" style="display: inline-flex;margin-left: 10px;" type="text" autocomplete="off" tabindex="1" name="username" class="form-control align-items-center" id="retrieveusername"/>
                    </label>
                </div>
                <div class="d-inline-flex gap-2 py-3">
                    <button tabindex="1" class="btn btn-primary d-inline-flex align-items-center" type="submit" formmethod="post">
                      Get Data
                      <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
                    </button>
                  </div>
            </form>

            <br>
            
            <h1>Create New User</h1>
            <form method="post" autocomplete="off" action="/insert" id="insert">
                <div class="formGroup py-2">
                    <label for="username" class="align-items-center" style="display:inline-flex;">Username:
                        <input placeholder="Username" style="display: inline-flex;margin-left: 10px;" type="text" autocomplete="off" tabindex="1" name="username" class="form-control align-items-center" id="insertusername"/>
                    </label>
                </div>
                <div class="formGroup py-2">
                    <label for="password" class="align-items-center" style="display:inline-flex;">Password:
                        <input placeholder="Password" style="display: inline-flex;margin-left: 15px;" type="password" autocomplete="off" tabindex="1" name="password" class="form-control align-items-center" id="insertpassword"/>
                    </label>
                </div>
                <div class="formGroup py-2">
                    <label for="email" class="align-items-center" style="display:inline-flex;">Email:
                        <input placeholder="Email" style="display: inline-flex;margin-left: 40px;" type="email" autocomplete="off" tabindex="1" name="email" class="form-control align-items-center" id="insertemail"/>
                    </label>
                </div>
                <div class="d-inline-flex gap-2 py-3">
                    <button tabindex="1" class="btn btn-primary d-inline-flex align-items-center" type="submit" formmethod="post">
                      Create User
                      <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"/></svg>
                    </button>
                  </div>
            </form>
          </div>
        
        
      
      <script src="alert.js"></script>
      <script src="bootstrap.bundle.min.js"></script>
    </body>
</html>